
.label-div
{
 float: left;
 width: 200px;
 margin: 10px 10px 10px 10px;
}
.input-div
{
float: left;
margin-left: 200px;
}
.button-div
{
    text-align: center;
    word-spacing: 75px;
    margin-top: 50px;
}